@import '../../../../Styles/Colors.scss';
@import '../../../../Styles/Fonts.scss';
@import '../../../../Styles/Formats.scss';

.Language_Selector{
  position: relative;
  width: 100%;
  height: 100%;

  button{
    position: relative;
    height: 100%;
    width: 100%;
    background: none;
    border: none; 
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;

    .Icon {
      position: relative;
      width: 100%;
      height: 100%;
    }
  }

  .Language_Options{
    position: absolute;
    width: 100px;
    top: 140%;
    right: 3px;
    border-radius: 10px 0px 10px 10px;


    &.active{
      opacity: 1;
      visibility: visible;
    }

    &.inactive{
      opacity: 0;
      visibility: hidden;
    }

    .Arrow{
      position: absolute;
      width: 10px;
      height: 10px;
      top: -5px;
      right: 2.5px;
      transform: (rotate(45deg));
      z-index: 3;
    }

    ul{
      position: relative;
      list-style: none;
      border-radius: 10px 0px 10px 10px;
      display: flex;
      flex-direction: column;

      li{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 5px;
        box-sizing: border-box;
        cursor: pointer;

        span{
          font-family: $font_family_poppins;
          font-size: 13px;
          color: $white;
          transition: all 0.5s;

          &:hover{
            color: $blue_darker;
          }
        }
      }
    }
  }
}

// Colors
  .Dark_Mode .Language_Selector .Arrow{
    background-color: $tertiary_color_dark;
  }

  .Light_Mode .Language_Selector .Arrow{
    background-color: $tertiary_color_ligth;
  }

  .Dark_Mode .Language_Selector .Language_Options,
  .Dark_Mode .Language_Selector .Language_Options ul{
    background-color: $tertiary_color_dark;
    box-shadow: $box_shadow_dark;
  }

  .Light_Mode .Language_Selector .Language_Options,
  .Light_Mode .Language_Selector .Language_Options ul{
    background-color: $tertiary_color_ligth;
    box-shadow: $box_shadow_light;
  }
// Colors