@import '../../../Styles/Colors.scss';
@import '../../../Styles/Fonts.scss';
@import '../../../Styles/Formats.scss';

.Login{
  @include Pages_Configs;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;

  form{
    width: 300px;
    height: auto;
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    border: $border;
    border-radius: $border_radius;

    .Field{
      width: 100%;
      height: 30px;
    }
  }
}

// Colors
  .Dark_Mode .Login form {
    background-color: $secundery_color_dark;
    box-shadow: $box_shadow_dark;
  }

  .Light_Mode .Login form {
    background-color: $secundery_color_light;
    box-shadow: $box_shadow_light;
  } 
// Colors