@import '../../../Styles/Formats.scss';

.CE_Section {
  display: flex;
  width: 100%;
  height: auto;
  justify-content: right;

  .Container{
    width: calc(100% - 250px);
    height: auto;
    margin-top: 5vh;
    transition: 0.3s all;
    display: flex;
    align-items: center;
    flex-direction: column;
  }
}

@media (max-width: 800px){
  .CE_Section{

    .Container{
      width: 100%;
    }
  }
}