$primary_color_dark: #0b1727;
$primary_color_light: #edf2f9;

$secundery_color_dark: #162231;
$secundery_color_light: #ffffff; 

$tertiary_color_dark: #121e2d;
$tertiary_color_ligth: #f9fafd;

$blue: #4695ff;
$blue_darker: #2c7be5;

$gray : #9da9bb;
$gray_dark : rgb(81, 83, 87);

$white: #ffff;

$green: #00d27a;

$red: #ff6b6b;
$red_light: rgb(240, 133, 133);

$yellow: rgb(255, 196, 0);

