@import '../../../Styles/Colors.scss';
@import '../../../Styles/Fonts.scss';

.Header_Index{
  position: fixed;
  height: 5vh;
  width: 100%;
  padding: 5px;
  box-sizing: border-box;

  .Left_Side{
    
    h1{
      font-family: $font_family_poppins;
      font-size: 17px;
      letter-spacing: 2px;
      color: $blue_darker;
    }
  }
}